<header class="header" track-scroll>
  <h1 class="headline">Irmie  <small>Manufacturing</small></h1>
  <ul class="header-subnav">
    <li><a href="#">Products</a></li>
    <li><a href="#" class="is-active">About Us</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</header>

<div class="main-container">
  <div class="city-background"></div>


  <div class="row align-center">
    <div class="small-4 columns">
      <h1>Heading</h1>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p>
        <button>View Details</button>
      </p>
    </div>

    <div class="small-4 columns">
      <h1>Heading</h1>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p>
        <button>View Details</button>
      </p>
    </div>

    <div class="small-4 columns">
      <h1>Heading</h1>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p>
        <button>View Details</button>
      </p>
    </div>
  </div>
</div>

<hr>

<footer>© 2017 ACME Company, Inc.</footer>
